.button-container {
    display: grid;
    place-self: center;
    border-radius: 10px;
    text-decoration: none;
}

.btn-blue {
    color: #ffffff;
    background-color: var(--highlight1);
}

.btn-white {
    color: var(--primary);
    background-color: var(--background);
}
