.eventtag-container {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    background-color: var(--highlight1);
    border-radius: 5px;
}

.eventtag-container > h1 {
    font-size: 0.9rem;
    color: var(--background);
}
