.eventcard-container {
    width: 90%;
    padding: 1rem 0 1rem 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--background);
}

.eventcard-image {
    width: 90%;
    border-radius: 10px;
}

.eventcard-tag-container {
    width: 90%;
    display: flex;
    gap: 1rem;
}

.eventcard-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.eventcard-title {
    font-size: 1.5rem;
}

.eventcard-date {
    font-size: 1rem;
}

.eventcard-description {
    font-size: 0.8rem;
}

.eventcard-learnmore {
    font-size: 0.8rem;
}

.eventcard-learnmore-container {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.eventcard-learnmore-container > img {
    width: 1.5rem;
}
