.ep-container {
    width: 100%;
    height: auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.ep-landing {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ep-title {
    font-size: 15vw;
    line-height: 100%;
    color: var(--highlight1);
    letter-spacing: 1px;
    font-family: var(--ff-medium);
    transform: scaleY(0.85);
}

.ep-subtitle {
    font-size: 1rem;
}

.ep-landing > p {
    line-height: 150%;
    letter-spacing: 1px;
}

.separator {
    height: 1px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.226);
}

.events-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
