.manage-events-container {
    width: 100%;
    height: auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff;
    margin-bottom: 8rem;
}

.manage-events-landing {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
}

.manage-events-title {
    font-size: 15vw;
    line-height: 100%;
    color: var(--highlight1);
    letter-spacing: 1px;
    font-family: var(--ff-medium);
    transform: scaleY(0.85);
}

.manage-events-list, .manage-recurringevents-list{
    width: 90%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.manage-events-card-container{
    display: grid;
    grid-template-columns: 1fr, 10rem;
    width: 100%;
    align-items: center;
    justify-items: space-between;
}

.manage-events-button-container{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    width: 100%;
}

.delete-button, .edit-button{
    padding: 1fr;
}



@media (max-width: 480px) {
}

@media (max-width: 770px) and (min-width: 481px) {
}

@media (min-width: 771px) {
    .manage-events-landing {
        align-items: center;
        width: 40rem;
        text-align: center;
    }

    .manage-events-container {
        gap: 3rem;
        margin-top: 10rem;
    }

    .manage-events-title {
        font-size: min(7rem, 10vw);
    }
}
