.pv-container {
    width: 100%;
    height: auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff;
    margin-bottom: 8rem;
}

.pv-landing {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
}

.pv-title {
    font-size: 15vw;
    line-height: 100%;
    color: var(--highlight1);
    letter-spacing: 1px;
    font-family: var(--ff-medium);
    transform: scaleY(0.85);
}

.pv-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.5rem;
}

.create-btn {
    padding: 1rem;
    border: none;
    background-color: var(--highlight1);
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.pv-form-inputs {
    display: flex;
    flex-direction: column;
}

@media (max-width: 480px) {
}

@media (max-width: 770px) and (min-width: 481px) {
}

@media (min-width: 771px) {
    .pv-landing {
        align-items: center;
        width: 40rem;
        text-align: center;
    }

    .pv-container {
        gap: 3rem;
        margin-top: 10rem;
    }

    .pv-title {
        font-size: min(7rem, 10vw);
    }

    .pv-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        width: 90%;
        max-width: 70rem;
    }

    .pv-type {
        grid-column-start: 3;
    }

    .pv-date {
        grid-column-start: 4;
    }

    .pv-post-title {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
    }

    .pv-description {
        grid-column-start: 3;
        grid-row-start: 3;
        grid-column-end: 5;
    }

    .pv-link {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
    }

    .create-btn {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 5;
    }
}
