* {
    margin: 0;
    padding: 0;
}

img {
    background: none;
}

body {
    background-color: #ffffff;
}

:root {
    /* Font Families */
    --ff-ultra: g-ultra;
    --ff-thin: g-thin;
    --ff-regular: g-regular;
    --ff-medium: g-medium;
    --ff-light: g-light;
    --ff-extralight: g-extra-light;
    --ff-book: g-book;
    --ff-bold: g-bold;
    --ff-black: g-black;

    --ff-rultra: r-bold;
    --ff-rextrabold: r-extrabold;
    --ff-rextralight: r-extralight;
    --ff-rlight: r-light;
    --ff-rmedium: r-medium;
    --ff-rregular: r-regular;
    --ff-rsemibold: r-semibold;
    --ff-rbold: r-bold;

    /* Font Size */
    --fs-heading1: 3.5rem;
    --fs-heading2: 1.3rem;
    --fs-text1: 1.3rem;

    /* --fs-var-heading: 100%; */
    --fs-var-heading: 11vw;
    /* --fs-var-heading: 10vw; */

    /* Colors */
    --primary: #2d2d2d;
    --background: #ffffff;
    --highlight1: #006bb7;
    --highlight2: #6cb2df;

    /* --highlight3: #436e67; */
    --highlight3: #2266f7;

    --background2: #f7f8fa;
    --highlight4: #014677;

    /* design */
    --br: 10px;

    --btn-padding: 0.75rem 2rem 0.75rem 2rem;
    /* --btn-padding: 1rem 2.5rem 1rem 2.5rem; */
}

/* Gloval CSS */
.h-ultra {
    font-family: var(--ff-ultra);
}

.h-regular {
    font-family: var(--ff-regular);
    color: #006bb7;
}

.h-thin {
    font-family: var(--ff-thin);
}

.h-medium {
    font-family: var(--ff-medium);
    font-size: var(--fs-heading2);
}

.h-light {
    font-family: var(--ff-light);
    line-height: 100%;
}

.p-bold-regular {
    font-family: var(--ff-regular);
    font-weight: bold;
    letter-spacing: 1px;
    transform: scaleY(0.9);
}

.p-regular {
    font-family: var(--ff-regular);
    letter-spacing: 1px;
    transform: scaleY(0.95);
}

.p-medium {
    font-family: var(--ff-medium);
    letter-spacing: 1px;
    transform: scaleY(0.95);
}

.p-semibold {
    font-family: var(--ff-regular);
    letter-spacing: 1px;
    transform: scaleY(0.95);
}

.bold {
    font-weight: bold;
}

.highlight {
    color: var(--highlight1);
}

.button-pd {
    padding: var(--btn-padding);
}

.boxshadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* SCROLL BAR */

@media (max-width: 480px) {
}

@media (max-width: 770px) and (min-width: 481px) {
}

@media (min-width: 771px) {
    .h-medium {
        font-size: 2.3vw;
    }

    .p-regular {
        font-size: 1.2rem;
    }

    .p-bold-regular {
        font-size: 1.2rem;
    }
}
