* {
    margin: 0;
    padding: 0;
}

img {
    background: none;
}

:root {
    /* Font Families */
    --ff-ultra: g-ultra;
    --ff-thin: g-thin;
    --ff-regular: g-regular;
    --ff-medium: g-medium;
    --ff-light: g-light;
    --ff-extralight: g-extra-light;
    --ff-book: g-book;
    --ff-bold: g-bold;
    --ff-black: g-black;

    /* Font Size */
    --fs-heading1: 3.5rem;
    --fs-heading2: 1.3rem;
    --fs-text1: 1.3rem;

    /* --fs-var-heading: 100%; */
    --fs-var-heading: 11vw;
    /* --fs-var-heading: 10vw; */

    /* Colors */
    --primary: #2d2d2d;
    --background: #ffffff;
    --highlight1: #006bb7;
    --highlight2: #6cb2df;

    /* --highlight3: #436e67; */
    --highlight3: #2266f7;

    --background2: #f7f8fa;

    /* design */
    --br: 10px;

    --btn-padding: 0.75rem 2rem 0.75rem 2rem;
    /* --btn-padding: 1rem 2.5rem 1rem 2.5rem; */
}

/* Gloval CSS */
.h-ultra {
    font-family: var(--ff-ultra);
}

.h-regular {
    font-family: var(--ff-regular);
    color: #014677;
}

.h-medium {
    font-family: var(--ff-medium);
    font-size: var(--fs-heading2);
}

.h-light {
    font-family: var(--ff-light);
    line-height: 100%;
}

.p-bold-regular {
    font-family: var(--ff-regular);
    font-weight: bold;
}

.p-regular {
    font-family: var(--ff-regular);
}

.bold {
    font-weight: bold;
}

.highlight {
    color: var(--highlight1);
}

.button-pd {
    padding: var(--btn-padding);
}

/* SCROLL BAR */
